html, body {
    height: 100%;
    margin: 0;
}

header {
    background-color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#headerIconLeft {
    height: 30px;
    width: auto;
}

#headerIconRight {
    height: 30px;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, skyblue, royalblue);
}

#mainContent {
    flex: 1;
    padding: 10px;
    margin: 0 auto;
}

#mainTextArea {
    max-height: 550px;
    margin-top: 20px;
}

#buttonSection {
    display: flex;
    gap: 20px;              /* spacing between buttons */
    justify-content: center; /* center the group */
    margin-top: 15px;
}

#buttonSection button {
    background-color: goldenrod;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: transform 0.3s;
    border: 1px solid white;
    padding: 5px 15px;
}

button:hover {
    transform: scale(1.2);
}

button {
    background-color: goldenrod;
    padding: 5px 5px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    transition: transform 0.3s;
    border: 1px solid white;
}


#lowerButtonSection {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

footer {
    margin-top: auto;
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
}

#resultsList {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#resultsList li {
    list-style: none;
    width: 80%;
}

#results {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}