html, body {
    height: 100%;
    margin: 0;
}

header {
    background-color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#headerIconLeft {
    height: 30px;
    width: auto;
}

#headerIconRight {
    height: 30px;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, skyblue, royalblue);
}

#authorizationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
    background-color: goldenrod;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    width: 40%;
    transition: transform 0.3s;
    margin-top: 40px;
}

#loginForm:hover {
    transform: scale(1.2);
}

#registerForm {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
    background-color: goldenrod;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    width: 40%;
    transition: transform 0.3s;
}

#registerForm:hover {
    transform: scale(1.2);
}

button {
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
}

footer {
    margin-top: auto;
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
}