@media (max-width: 600px) {

header {
    font-size: 1.5rem;
}

#headerSubtitle {
    display: none;
}


#headerIconLeft {
    visibility: hidden;
}

#headerIconRight {
    visibility: hidden;
}


    
}